:root {
    --ball-size: 30px;
    --svg-size: 60px;
    --pd-size: 5px;
    --text-color-header: var(--dark-text-color);
    --border-bottom: 3px;
    --side-bar-padding: 10px;
}

header {
    height: calc((var(--ball-size) + 10px) * 2 + var(--border-bottom));
}

.nav {
    position: fixed;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    background: var(--site-color);
    color: var(--text-color-header);
    border-bottom: var(--border-bottom) solid var(--text-color);
}

.alavanca-container {
    height: fit-content;
    width: calc((var(--ball-size) + 11px) * 2);
    justify-content: left;
    padding: var(--pd-size);
}

.alavanca-container, .alavanca-container * {
    display: flex;
    cursor: pointer;
    background: var(--bg-color);
    border-radius: var(--ball-size);
    user-select: none;
}

.bola {
    width: var(--ball-size);
    height: var(--ball-size);
    border-radius: 100%;
    background: var(--text-color);
    padding: var(--pd-size);
}

.bola svg {
    transition: none;
    position: absolute;
    top: var(--pd-size);
    left: var(--pd-size);
    width: var(--ball-size);
    height: var(--ball-size);
    fill: var(--bg-color);
    background: none;
    opacity: 0%;
}

.bola svg * {
    transition: none;
    stroke: var(--bg-color);
}

.bola .svg-show {
    opacity: 100%;
}

.anchor-container {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: center;
}

.anchors-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 150px;
}

.menu-container {
    padding: 5px;
    background: var(--text-color);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-container svg {
    fill: var(--bg-color);
    width: 50px;
    height: 50px;
}

body {
    height: 200vh;
}

.side-bar {
    position: fixed;
    background: var(--site-color);
    height: 100%;
    right: 0;
    opacity: 0;
    z-index: -1;
    padding: var(--side-bar-padding);
    width: calc(min(300px, 100vw) - (var(--side-bar-padding) * 2));
    transform: translateX(100%);
}

.side-bar.show {
    opacity: 100%;
    z-index: 10;
    transform: translateX(0);
}