:root {
    --ball-size: 30px;
    --svg-size: 60px;
    --bola-padding: 5px;
    --text-color-header: var(--dark-text-color);
    --border-size: 3px;
    --side-bar-padding: 10px;
    --menu-padding: 10px;
    --menu-size: 50px;
    --header-padding: 10px;
    --header-heigth: calc((var(--menu-size) + 2 * (var(--menu-padding) + var(--header-padding))) + var(--border-size) * 1.5);
    --icons-size: 35px;
}

header {
    height: var(--header-heigth);
}

.nav {
    position: fixed;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: var(--header-padding);
    background: var(--site-color);
    color: var(--text-color-header);
    border-bottom: var(--border-size) solid var(--text-color);
}

.alavanca-container {
    position: absolute;
    right: calc(var(--bola-padding) * 2);
    bottom: calc((var(--ball-size) + var(--bola-padding) * 2) * 3);
    width: calc((var(--ball-size) + var(--bola-padding) * 2) * 2);
    justify-content: left;
    border-top: 2px solid var(--light-bg-color);
    border-bottom: 2px solid var(--light-bg-color);
    border-left: 5px solid var(--light-bg-color);
    border-right: 5px solid var(--light-bg-color);
}

.alavanca-container, .alavanca-container * {
    display: flex;
    cursor: pointer;
    background: var(--light-bg-color);
    border-radius: var(--ball-size);
    user-select: none;
}

.bola {
    transition: all cubic-bezier(0.8,0,0,1) .5s;
    width: var(--ball-size);
    height: var(--ball-size);
    background: var(--site-color);
    padding: var(--bola-padding);
}

.bola svg {
    transition: none;
    position: absolute;
    top: var(--bola-padding);
    left: var(--bola-padding);
    width: calc(var(--ball-size));
    height: calc(var(--ball-size));
    fill: var(--bg-color);
    background: none;
    opacity: 0%;
}

.bola svg * {
    transition: none;
    fill: var(--bg-color);
    stroke: var(--bg-color);
}

.bola .svg-show {
    opacity: 100%;
}

.anchor-container {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: center;
}

.anchors-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.menu-container {
    padding: var(--menu-padding);
    background: var(--light-bg-color);
    border-radius: 100%;
    width: var(--menu-size);
    height: var(--menu-size);
    cursor: pointer;
}

.menu-container:active,
.menu-container.show {
    background: transparent;
}

.menu-container:active svg,
.menu-container.show svg {
    fill: var(--light-bg-color);
}

.menu-container svg {
    fill: var(--dark-bg-color);
    width: 50px;
    height: 50px;
}

.side-bar {
    transition: var(--transition);
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--site-color);
    height: 100%;
    top: calc(var(--header-heigth) - var(--border-size));
    right: 0;
    z-index: -1;
    padding: var(--side-bar-padding);
    width: calc(min(500px, 0vw) );
    transform: translateX(100%);
    border-left: 3px solid var(--text-color);
}

.side-bar.show {
    z-index: 100;
    transform: translateX(0);
}

.side-anchor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.side-anchor svg {
    margin-right: 10px;
    width: var(--icons-size);
    height: var(--icons-size);
}


.side-anchor svg,
.side-anchor svg *,
.side-anchor h3 {
    fill: var(--light-bg-color);
    color: var(--light-bg-color);
}

.side-anchor.current svg,
.side-anchor.current svg *,
.side-anchor.current h3 {
    fill: var(--site-color2);
    color: var(--site-color2);
}

body {
    height: 200vh;
}
